/* 모바일 */
/* 모바일 */
/* 모바일 */
@media (max-width: 800px) {
  .inner {
    width: 100vw;
    margin: 0 auto;
    position: absolute;
  }
  header {
    width: 100%;
    height: 80px;
    position: fixed;
  }
  header .inner .index {
    position: relative;
    top: 7px;
    width: 30px;
    padding: 5px;
    left: 10px;
  }
  header .inner .header-logo {
    position: relative;
    left: -8px;
    top: 5px;
    width: 80px;
  }
  .black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    transition: 0.5s;
  }
  /* filecover-section */
  .filecover-section {
    position: relative;
    top: 90px;
    height: 800px;
    z-index: 2;
  }
  .filecover-section .registration-img {
    position: relative;
    display: block;
    width: calc(100vw - 20px);
    margin: 0 auto;
    top: -580px;
    transform: translateY(0) rotate(20deg);
    transition: 1s;
  }

  /* detailmain-section */
  .detailmain-section {
    position: relative;
    top: 100px;
    background-color: transparent;
    transition: 0.4s;
  }
  .detailmain-section .inner .detailmain-2div {
    padding-top: 100px;
    display: inline-block;
    width: 100vw;
    position: relative;
  }
  .detailmain-section .inner .detailmain-2div .detailmain-2div-L {
    position: relative;
    width: 100vw;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 1px;
    border-style: solid;
    border-image: linear-gradient(#222222, #f2f3f3);
    border-image-slice: 1;
    box-sizing: border-box;
  }
  .detailmain-section .inner .detailmain-2div .detailmain-2div-L-2 {
    margin-top: -5px;
    width: 100vw;
    height: 140vw;
    background-image: url("../images/phy-backgroundL.png");
    background-size: 100vw;
  }
  .detailmain-section .inner .detailmain-2div .detailmain-2div-L-2 .div2-inner {
    width: 420px;
    margin: 0 30px;
  }
  .detailmain-section .inner .detailmain-2div .dm-content {
    width: calc(100vw - 70px);
  }
  .detailmain-section .inner .detailmain-2div .dm-use {
    width: 200px;
  }
  .detailmain-section .inner .detailmain-2div .dm-drawing-1 {
    display: inline-block;
    width: 60vw;
    position: relative;
    top: 80px;
    left: 70px;
    margin: 0 auto;
  }
  .detailmain-section .inner .detailmain-2div .detailmain-2div-R-2 {
    margin-top: -5px;
    width: 100vw;
    height: 840px;
    background-image: url("../images/phy-backgroundR.png");
    background-size: 100vw;
  }
  .detailmain-section
    .inner
    .detailmain-2div
    .detailmain-2div-R-2
    .dm-text.dm-record-date {
    top: 40px;
    right: 0px;
    font-family: "miller-text";
    font-size: 14px;
  }
  .detailmain-section
    .inner
    .detailmain-2div
    .detailmain-2div-R-2
    .dm-text.dm-record-content {
    width: calc(100vw - 70px);
  }
  .detailmain-section
    .inner
    .detailmain-2div
    .detailmain-2div-R-2
    .dm-text.dm-record-footnote {
    display: block;
    position: absolute;
    top: 1450px;
    border-top: 1px solid #000;
    padding-top: 10px;
    width: 80vw;
    font-size: 10px;
  }

  /* 시퀀스 */
  canvas {
    width: 100vw;
    height: 100vw;
  }
  /* detailmain-1div */
  .detailmain-section .inner .detailmain-1div {
    width: 100vw;
  }
  .detailmain-section .inner .detailmain-1div .object-items .object-item {
    width: 100px;
    position: absolute;
    left: 0px;
  }

  /* object-video */

  .object-video {
    position: absolute;
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 7400px;
  }
  .object-video .video {
    width: 100vw;
    height: 56.25vw;
  }

  /* footer */
  footer .inner .prizm {
    margin-left: 20px;
    width: 300px;
  }
  footer .inner .name-list {
    display: none;
  }

  /* profile */
  .profile {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    top: 6900px;
  }

  /* item */
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.phy01-item-01 {
    width: 300px;
    left: 0;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.phy01-item-02 {
    top: 1100px;
    width: 300px;
    left: 0px;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.phy02-item-01 {
    width: 450px;
    left: 30px;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.phy02-item-02 {
    top: 1100px;
    width: 500px;
    left: 650px;
  }
}
