/* 모바일 */
/* 모바일 */
/* 모바일 */
.mobile-bg {
  display: none;
}
@media (max-width: 800px) {
  .inner {
    width: 100vw;
    margin: 0 auto;
    position: absolute;
  }
  .mobile-bg {
    width: 100%;
    height: 100vh;
    position: relative;
    display: inline-block;
  }
  .mobile-bg .bg-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .mobile-bg .bg-wrap .bg {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }

  header {
    width: 100vw;
    height: 80px;
    position: fixed;
  }
  header .inner .index {
    position: relative;
    top: 7px;
    width: 20px;
    padding: 5px;
    left: 15px;
  }
  header .inner .header-logo {
    position: relative;
    left: calc(50vw - 67.5px);
    top: 6px;
    width: 60px;
  }
  .black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    transition: 0.5s;
  }
  /* filecover-section */
  .filecover-section {
    position: relative;
    top: 90px;
    height: 800px;
    z-index: 2;
  }
  .filecover-section .registration-img {
    position: relative;
    display: block;
    width: calc(100vw - 20px);
    margin: 0 auto;
    top: -580px;
    transform: translateY(0) rotate(0deg);
    transition: 1s;
  }

  /* detailmain-section */
  .detailmain-section {
    position: relative;
    top: 100px;
    background-color: transparent;
    transition: 0.4s;
  }
  .detailmain-section .inner .detailmain-2div {
    padding-top: 100px;
    display: inline-block;
    width: 100vw;
    position: relative;
  }
  .detailmain-section .inner .detailmain-2div .detailmain-2div-L {
    position: relative;
    width: 100vw;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;

    border-image-slice: 1;
    box-sizing: border-box;
  }
  .detailmain-section .inner .detailmain-2div .detailmain-2div-L-2 {
    margin-top: -5px;
    width: 100vw;
    height: 140vw;

    background-size: 100vw;
    margin-bottom: 30px;
  }
  .detailmain-section .inner .detailmain-2div .detailmain-2div-L-2 .div2-inner {
    width: 420px;
    margin: 0 30px;
  }
  .detailmain-section .inner .detailmain-2div .dm-drawing-1 {
    display: inline-block;
    width: 60vw;
    position: relative;
    top: 80px;
    left: 70px;
    margin: 0 auto;
  }
  .detailmain-section .inner .detailmain-2div .detailmain-2div-R-2 {
    margin-top: -5px;
    width: 100vw;
    height: 160vw;
    background-size: 100vw;
    position: relative;
  }

  /* 시퀀스 */
  canvas {
    width: 100vw;
    height: 100vw;
  }
  /* detailmain-1div */
  .detailmain-section .inner .detailmain-1div {
    width: 100vw;
  }
  .detailmain-section .inner .detailmain-1div .object-items .object-item {
    width: 100px;
    position: absolute;
    left: 0px;
  }

  /* object-video */

  .object-video {
    position: absolute;
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 7400px;
  }
  .object-video .video {
    width: 100vw;
    height: 56.25vw;
  }

  /* footer */
  footer .inner .prizm {
    margin-left: 20px;
    width: 300px;
  }
  footer .inner .name-list {
    display: none;
  }

  /* profile */
  .profile {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    top: 6900px;
  }
  .profile .profile-img {
    width: 150px;
    display: inline-block;
    margin-top: 170px;
  }

  /* item */
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.phy01-item-01 {
    width: 300px;
    left: calc(50vw - 150px);
    margin: 0 auto;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.phy01-item-02 {
    top: 1100px;
    width: 300px;
    left: calc(50vw - 150px);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.phy02-item-01 {
    width: 80vw;
    left: calc(50vw - 40vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.phy02-item-02 {
    top: 1100px;
    width: 80vw;
    left: calc(50vw - 40vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.safe01-item-01 {
    width: 300px;
    left: calc(50vw - 150px);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.safe01-item-02 {
    width: 100vw;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.safe02-item-01 {
    width: 80vw;
    left: calc(50vw - 40vw);
    top: 1vh;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.safe02-item-02 {
    width: 30vw;
    rotate: 90deg;
    top: 100vh;
    left: 5vw;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.safe02-item-03 {
    width: 60vw;
    top: 100vh;
    left: 30vw;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.safe02-item-04 {
    width: 70vw;
    top: 180vh;
    left: 5vw;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.safe02-item-05 {
    width: 40vw;
    top: 185vh;
    left: 50vw;
  }

  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.love01-item-01 {
    width: 80vw;
    top: 0;
    left: calc(50vw - 40vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.love01-item-02 {
    width: 80vw;
    top: 1000px;
    left: calc(50vw - 40vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.love02-item-01 {
    width: 70vw;
    left: calc(50vw - 35vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.love02-item-05 {
    width: 60vw;
    top: 1000px;
    left: calc(50vw - 30vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.love03-item-01 {
    width: 80vw;
    left: calc(50vw - 40vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.love03-item-02 {
    width: 70vw;
    top: 1000px;
    left: calc(50vw - 35vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.est01-item-01 {
    width: 80vw;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 00px;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.est01-item-02 {
    width: 80vw;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 1000px;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.est01-item-03 {
    width: 40vw;
    top: 1000px;
    margin: 0 auto;
    position: relative;
    left: 25vw;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.est02-item-01 {
    width: 80vw;
    left: calc(50vw - 40vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.est02-item-02 {
    width: 90vw;
    left: calc(50vw - 45vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.self01-item-01 {
    width: 60vw;
    left: calc(50vw - 40vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.self01-item-02 {
    width: 60vw;
    left: 30vw;
    top: 25vh;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.self01-item-03 {
    width: 80vw;
    left: calc(50vw - 40vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.self02-item-01 {
    width: 80vw;
    left: calc(50vw - 40vw);
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.self02-item-02 {
    width: 40vw;
    left: calc(50vw - 45vw);
    top: 25vh;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.self02-item-03 {
    width: 50vw;
    left: calc(45vw);
    top: 28vh;
  }
  .detailmain-section
    .inner
    .detailmain-1div
    .object-items
    .object-item.self02-item-04 {
    width: 80vw;
    left: 20vw;
    top: 1000px;
  }

  /* text */
  .pre {
    font-family: "pretendard";
  }
  .mill {
    font-family: "miller-text";
    font-style: italic;
    display: inline;
    margin: 0;
  }
  .italic {
    font-style: italic;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    /* font-size: 12.2px; */
    font-size: smaller;
  }
  .footnote-num {
    font-family: "miller-text";
    font-style: italic;
    font-size: 4px;
    vertical-align: super;
    margin-right: 1px;
  }
  .detailmain-section .inner .detailmain-2div .dm-withebg-text {
    position: relative;
    display: inline-block;
    padding: 4px;
    background-color: #fff;
    margin: 0px;
  }
  .detailmain-section .inner .detailmain-2div .dm-withebg-text.dm-title {
    left: 30px;
    top: 30px;
    font-weight: 700;
    font-size: 18px;
    padding-top: 1px;
  }
  .detailmain-section
    .inner
    .detailmain-2div
    .dm-withebg-text.dm-title
    .dm-title-num {
    font-family: "miller-text", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
  }
  .detailmain-section .inner .detailmain-2div .dm-withebg-text.dm-title-sub {
    position: absolute;
    text-align: right;
    right: 30px;
    top: 25px;
    font-family: "miller-text", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 8px;
    padding: 3px;
  }
  .detailmain-section .inner .detailmain-2div .dm-content {
    width: calc(100vw - 70px);
    left: 30px;
    top: 50px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
  }
  .detailmain-section .inner .detailmain-2div .dm-use {
    position: relative;
    width: 280px;
    left: 30px;
    top: 80px;
    font-size: 8px;
  }
  .detailmain-section .inner .detailmain-2div .dm-use .dm-use-title {
    margin-bottom: 8px;
    font-weight: 600;
  }
  .detailmain-section .inner .detailmain-2div .dm-use .dm-use-cont {
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 8px;
  }
  .detailmain-section .inner .detailmain-2div .detailmain-2div-R-2 .dm-text {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin: 0 40px 0 40px;
  }
  .detailmain-section
    .inner
    .detailmain-2div
    .detailmain-2div-R-2
    .dm-text.dm-record-title {
    top: 42px;
  }
  .detailmain-section
    .inner
    .detailmain-2div
    .detailmain-2div-R-2
    .dm-text.dm-record-date {
    position: relative;
    top: 40px;
    right: 0px;
    font-family: "miller-text";
    font-size: 10px;
  }
  .detailmain-section
    .inner
    .detailmain-2div
    .detailmain-2div-R-2
    .dm-text.dm-record {
    display: block;
    top: 45px;
    margin: 0;
  }
  .detailmain-section
    .inner
    .detailmain-2div
    .detailmain-2div-R-2
    .dm-text.dm-record-content-box {
    margin: 0 0 10px 0;
  }
  .detailmain-section
    .inner
    .detailmain-2div
    .detailmain-2div-R-2
    .dm-text.dm-record-content-date {
    font-family: "miller-text";
    font-style: italic;
    font-size: 11px;
    font-weight: 600;
    text-decoration-line: underline;
    margin-bottom: 3px;
    padding-left: 30px;
  }
  .detailmain-section
    .inner
    .detailmain-2div
    .detailmain-2div-R-2
    .dm-text.dm-record-content {
    width: calc(100vw - 20vw);
    font-weight: 400;
    line-height: 15px;
    margin: 0 0 5px 40px;
    font-size: 10px;
  }
  .detailmain-section
    .inner
    .detailmain-2div
    .detailmain-2div-R-2
    .dm-text.dm-record-footnote {
    display: block;
    position: relative;
    top: 80px;
    border-top: 1px solid #000;
    padding-top: 10px;
    width: 80vw;
    font-size: 10px;
  }
}
